<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" />

  <include file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="false" />
  </include>
  <node name="move_to_start" pkg="franka_interactive_controllers" type="move_to_start_joints.py" output="screen" required="true" />
  <!-- <node name="move_to_start" pkg="franka_example_controllers" type="move_to_start.py" output="screen" required="true" /> -->
</launch>
